# Server-side Auto-Recharge API Credentials (SuccessTopUp)
RECHARGE_API_KEY=st_71a8ccbfdd954b6d3a997f6b1039edca
RECHARGE_API_SECRET=st_79e4a1cbe04876bf69dd6da7d09ae9108279aeac596f50f77e86a37919a09d07
RECHARGE_API_URL=https://api.successtopup.com/api/v1/topup


# Server-side ZiniPay API/App Key
ZINIPAY_API_KEY=

# Server-side ZiniPay brand registered website URL (e.g., https://www.fahiminternet.com)
ZINIPAY_WEBSITE_URL=
ZINIPAY_WEBSIT=

# OneSignal Push Notification Credentials
ONESIGNAL_APP_ID=f23b5d21-4821-4148-b4b1-e23456789abc
ONESIGNAL_REST_API_KEY=

